In [1]:
c(1,2,3)

[1] 1 2 3

In [2]:
matrix(NA, 2, 3)

     [,1] [,2] [,3]
[1,] NA   NA   NA
[2,] NA   NA   NA

In [4]:
data.frame(a=1:3,b=3:5)

  a b
1 1 3
2 2 4
3 3 5