In [10]:
import os
os.environ["OMP_NUM_THREADS"] = "4"
import random
import gc
import re
import math
import hashlib
import datetime
import warnings
from collections import defaultdict
from multiprocessing import Pool, cpu_count

import mroc
import tensorflow
import pandas as pd
import lightgbm as lgb
import numpy as np
import keras
import pyarrow.parquet as parquet
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from gensim import matutils
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import roc_auc_score, accuracy_score
from sklearn.decomposition import TruncatedSVD
from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer
import scipy.spatial.distance
from scipy import sparse
import nltk
from nltk.cluster import KMeansClusterer
from nltk import word_tokenize
from nltk.stem.porter import PorterStemmer
from nltk.stem.snowball import SnowballStemmer
from pandas.util import hash_pandas_object
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

# Where the downloaded data are
input_path = '/Users/tyamgin/Projects/mlbootcamp/championship19/data'
# Where to store results
output_path = '/Users/tyamgin/Projects/mlbootcamp/championship19/res'

In [11]:
pd.set_option('display.max_colwidth', 50)
pd.set_option('display.max_columns', 250)

In [12]:
cpu_count()

8

In [13]:
def hash_pandas_object2d(df):
    x = hash_pandas_object(df).values
    return hashlib.sha1(x).hexdigest()

In [14]:

keras_jobs = 8
config = tensorflow.ConfigProto(intra_op_parallelism_threads=keras_jobs,
                        inter_op_parallelism_threads=keras_jobs,
                        allow_soft_placement=True,
                        device_count = {'CPU': 8, 'GPU': 0})
session = tensorflow.Session(config=config)
keras.backend.set_session(session)

In [15]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
    #torch.manual_seed(seed)
    #torch.cuda.manual_seed(seed)
    #torch.backends.cudnn.deterministic = True
    tensorflow.set_random_seed(seed)

In [23]:
a = pd.DataFrame({'a':[1,2,3],'b':[3,4,5]})
b = pd.DataFrame({'b':[3],'c':[222]})
a.join(b.set_index('b'), how='left', on='b')

   a  b      c
0  1  3  222.0
1  2  4    NaN
2  3  5    NaN

In [24]:
a.iloc[[0,2],:]

   a  b
0  1  3
2  3  5

In [20]:
pd.read_pickle(output_path + '/train_data').iloc[10000:20000,:]

,instanceId_userId,instanceId_objectType,objectId,audit_clientType,audit_timestamp,metadata_ownerId,metadata_createdAt,date,liked,clicked,viewed,disliked,reshared,ignored
10000,3425311,0,15340860,0,1517455724842,2800,1517393966000,2018-02-01,0,0,0,0,0,1
10001,3425821,0,27675711,0,1517476633442,13009,1517475615000,2018-02-01,0,0,0,0,0,1
10002,3425953,1,853025,1,1517504981081,11222,1517501910000,2018-02-01,0,0,0,0,0,1
10003,3426055,0,20839337,0,1517455210551,40120,1517371891000,2018-02-01,0,0,0,0,0,1
10004,3426055,0,28026133,0,1517456262180,71613,1517240131000,2018-02-01,0,0,0,0,0,1
10005,3426055,0,28026133,0,1517456262180,71613,1517240131000,2018-02-01,0,0,0,0,0,1
10006,3426055,0,33293164,0,1517488296983,21399,1517459927000,2018-02-01,0,0,0,0,0,1
10007,3426376,0,25347056,2,1517501306332,18976,1517434203000,2018-02-01,0,0,0,0,0,1
10008,3427354,0,25045890,1,1517482289920,26972,1517422224000,2018-02-01,1,0,0,0,0,0
10009,3427447,0,12320243,1,1517509448725,24741,1517466019000,2018-02-01,0,0,0,0,0,1
10010,3427732,2,2798787,0,1517509954660,63631,1517509492000,2018-02-01,0,0,0,0,0,1
10011,3427942,0,27636139,1,1517463959116,50684,1517463187000,2018-02-01,0,0,0,0,0,1
10012,3427942,0,26220716,1,1517486933038,63071,1517439304000,2018-02-01,1,0,0,0,1,0
10013,3427942,0,19022187,1,1517486933038,37981,1517475982000,2018-02-01,1,0,0,0,1,0
10014,3427942,0,14008335,1,1517486933038,64403,1517475763000,2018-02-01,0,0,0,0,0,1
10015,3427942,0,21640245,1,1517509210512,3443,1517508678000,2018-02-01,1,0,0,0,1,0
10016,3428353,2,6438704,1,1517462699246,19927,1517426447000,2018-02-01,0,0,0,0,0,1
10017,3428461,0,12606957,1,1517496255240,25692,1517286963000,2018-02-01,0,1,0,0,0,0
10018,3428731,0,18229005,1,1517460428074,33904,1517436068000,2018-02-01,0,0,0,0,0,1
10019,3428863,0,24345137,1,1517470768674,25657,1517464865000,2018-02-01,0,0,0,0,0,1
10020,3428863,0,15089160,1,1517475047284,15010,1517471585000,2018-02-01,0,0,0,0,0,1
10021,3429181,0,14138197,1,1517432439192,3039,1517325031000,2018-02-01,0,0,0,0,0,1
10022,3429187,0,21465944,0,1517463047845,13384,1517461220000,2018-02-01,0,0,0,0,0,1
10023,3429187,0,31456585,0,1517473847716,80229,1517380342000,2018-02-01,0,0,0,0,0,1
10024,3429445,0,29159470,1,1517511046063,42180,1517470817000,2018-02-01,0,0,0,0,0,1
10025,3429727,0,23164278,1,1517509660721,31698,1517495546000,2018-02-01,0,0,0,0,0,1
10026,3430639,1,317241,0,1517500540305,35838,1517412077000,2018-02-01,0,1,0,1,0,0
10027,3430639,1,317241,0,1517500540305,35838,1517412077000,2018-02-01,0,1,0,1,0,0
10028,3430672,0,13601774,0,1517495955985,1896,1517490921000,2018-02-01,0,0,0,0,0,1
10029,3430672,0,26314338,0,1517495955985,18493,1517492167000,2018-02-01,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,6476647,1,511283,1,1517470030254,40124,1517311830000,2018-02-01,0,0,0,0,0,1
19971,6477046,0,38771166,2,1517490726755,67846,1517320851000,2018-02-01,0,1,0,0,0,0
19972,6477268,0,12541016,1,1517471796433,39728,1517430910000,2018-02-01,0,0,0,0,0,1
19973,6478108,0,20703729,1,1517467012396,54157,1517451008000,2018-02-01,0,0,0,0,0,1
19974,6478264,0,23103057,0,1517501399483,4726,1517406264000,2018-02-01,1,1,0,0,0,0
19975,6478414,0,9872776,0,1517467122596,57553,1517374840000,2018-02-01,0,0,0,0,0,1
19976,6478771,0,24217577,1,1517468132478,6857,1517429414000,2018-02-01,1,1,0,0,0,0
19977,6478771,0,11923875,1,1517473081636,16316,1517471401000,2018-02-01,1,0,0,0,0,0
19978,6478771,0,24294656,1,1517491517328,13917,1517471184000,2018-02-01,0,0,0,0,0,1
19979,6480193,0,24362492,1,1517485057062,25657,1517471359000,2018-02-01,0,0,0,1,0,0
19980,6480193,0,24389843,1,1517485057062,25657,1517481542000,2018-02-01,0,0,0,1,0,1
19981,6480193,0,27969086,1,1517500044489,79102,1517491091000,2018-02-01,0,0,0,1,0,0
19982,6480280,0,20509940,1,1517516476638,80203,1517405954000,2018-02-01,0,0,0,0,0,1
19983,6481189,0,11575917,1,1517509367301,48497,1517494268000,2018-02-01,0,0,0,0,0,1
19984,6481189,0,15304621,1,1517513957098,26047,1517507308000,2018-02-01,1,0,0,0,0,0
19985,6481711,0,12986503,1,1517463685597,44002,1517320134000,2018-02-01,0,0,0,0,0,1
19986,6481828,0,12983837,1,1517479705094,39575,1517478986000,2018-02-01,0,0,0,0,0,1
19987,6482725,0,12201989,2,1517503850944,9323,1517372115000,2018-02-01,0,0,0,0,0,1
19988,6483214,0,25829243,2,1517443072504,8777,1517427371000,2018-02-01,0,0,0,0,0,1
19989,6484033,1,538923,0,1517497209668,45301,1515307694000,2018-02-01,0,1,0,0,0,0
19990,6484408,0,13966941,0,1517505965305,15226,1517462563000,2018-02-01,0,0,0,0,0,1
19991,6484684,0,11541680,2,1517467141657,51646,1517411319000,2018-02-01,0,0,0,0,0,1
19992,6484684,0,13851399,2,1517469480015,64496,1517357081000,2018-02-01,0,0,0,0,0,1
19993,6484825,0,16669884,0,1517486397625,40119,1517284933000,2018-02-01,1,0,0,0,0,0
19994,6484825,0,25978850,0,1517487392409,61659,1517407574000,2018-02-01,0,0,0,0,0,1
19995,6485071,0,23010973,0,1517490478258,24805,1517401571000,2018-02-01,1,0,0,0,0,0
19996,6487060,0,18457578,1,1517483384669,22690,1517471458000,2018-02-01,0,1,0,0,0,0
19997,6487060,0,24237991,1,1517491928537,13893,1517482593000,2018-02-01,0,0,0,0,0,1
19998,6487060,0,33334865,1,1517491928537,16716,1517487827000,2018-02-01,1,0,0,0,0,0
19999,6487186,0,26216793,0,1517461336491,32533,1517425506000,2018-02-01,0,0,0,0,0,1

In [22]:
np.arange(5)

array([0, 1, 2, 3, 4])