In [34]:
import pandas as pandas
from os import walk
import pyarrow.parquet as parquet

# Used to train document embeddings
from gensim.models.doc2vec import Doc2Vec, TaggedDocument

# Used to train the baseline model
from sklearn.linear_model import LogisticRegression
import numpy as numpy
from sklearn.metrics import roc_auc_score

In [4]:
a = [[1,2,3],[4,5,6]]

In [5]:
numpy.concatenate(a)

array([1, 2, 3, 4, 5, 6])

In [6]:
a = [[[1,2,3],[4,5,6]], [[7,8,9],[10,11,12]]]

In [7]:
numpy.concatenate(a)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [23]:
a = pandas.DataFrame({'a': [1,2,3,4], 'b': [3,4,5,6]})

In [24]:
a

   a  b
0  1  3
1  2  4
2  3  5
3  4  6

In [29]:
a.assign(c=numpy.array([-1, -2, -3, -4]))

   a  b  c
0  1  3 -1
1  2  4 -2
2  3  5 -3
3  4  6 -4

In [30]:
a

   a  b
0  1  3
1  2  4
2  3  5
3  4  6

In [33]:
numpy.stack([1,2,3],[4,5,6])

TypeError: an integer is required (got type list)

In [40]:
roc_auc_score([0, 1, 0, 1, 1, 1], [0.1, 0.5, 0.1, 0.2, 0.2, -7])

0.75

1.0

In [41]:
float('NaN')

nan

In [42]:
import mroc

ModuleNotFoundError: No module named 'mroc'

In [43]:
from importlib import reload

In [44]:
reload(mroc)

NameError: name 'mroc' is not defined